
/*Обнуленик*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --brand-color:  #2196F3;
}
:root {
    --fon-color: #2F303A;
}
:root {
    --fonts-title-color: #212121;
}
:root {
    --fonts-color: #757575;
}


a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}



body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #757575;
}
.menu__link,.address__link{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2px;
        letter-spacing: 0.02em;
}
.menu__link:hover,.address__link:hover,.footer-white:hover,.grey:hover{
   color: var(--brand-color);
}
.button-blue:hover,.button-menu:hover {
   background: var(--brand-color);
}
.logo-blue span{
   color: var(--brand-color);
}
.address-grey{
  color: var(--fonts-color);
}
.menu{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: #212121;
}
.menu-logo, .footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   }
.menu-logo{
    color: #000;
}

        
.footer-logo{
    background-color: var(--fon-color);
    color: #fff;
}
.block-text__title{

}
.title-block_text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: var(--fon-color);;
}
.button-blue{
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.button-blue:hover, .button-blue:focus, .button-blue:active{
    background:#0771c7 ;
}
.button-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    border-radius: 4px;
}
.blue{
    background-color: var(--brand-color);
    color: #fff;
}
.grey{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #757575;
}

.our-team__title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #212121;
}
.about-us__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #212121;
}

.block-text__title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #212121;
}
.forexmaple__item-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.address__item{
    background-color: var(--fon-color);
}
.footer-white{
  color: #fff;  
}
.footer-grey{
    color: rgba(255, 255, 255, 0.6);
}