:root {
    --brand-color:  #2196F3;
    --fon-color: #2F303A;
    --fonts-title-color: #212121;
    --fonts-color: #757575;
    --white-color: #fff;
    --background-fon-button:#F5F4FA;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--fonts-color);
}
.menu__link,.address__link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
}
.menu__link:visited{
    color: var(--brand-color);
}
.menu__link:hover,.address__link:hover,.footer-white:hover,.grey:hover{
color: var(--brand-color);
}

.button-blue:hover,.button-menu:hover {
   background: var(--brand-color);
}
.logo-blue span{
   color: var(--brand-color);
}
.address-grey{
  color: var(--fonts-color);
}
.menu{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: var(--fonts-title-color);
}
.menu-logo, .footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   }
.menu-logo{
    color: var(--fonts-title-color);
}

        
.footer-logo{
    background-color: var(--fon-color);
    color:var(--white-color);
}
.block-text__title{

}
.title-block_text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    background: var(--fon-color);;
}
.button-blue{
    background: var(--brand-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color:var(--white-color);
}
.button-blue:hover, .button-blue:focus, .button-blue:active{
    background:#0771c7 ;
}
.button-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: var(--background-fon-button);
    border-radius: 4px;
}
.blue{
    background-color: var(--brand-color);
    color:var(--white-color);
}
.grey{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: var(--fonts-color);
}

.our-team__title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--fonts-title-color);
    }

.about-us__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--fonts-title-color);
    }


.block-text__title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--fonts-title-color);
    }

.forexmaple__item-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--fonts-title-color);
    }

.address__item{
    background-color: var(--fon-color);
}
.footer-white{
  color: var(--white-color);
}
.footer-grey{
    color: var(--fonts-color);
}